table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.l, .j {
  background-color: blue;
}

.s, .z {
  background-color: red;
}

.o {
  background-color: gray;
}

.t {
  background-color: green;
}

.i {
  background-color: yellow;
}
