table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.l {
  background-color: blue
}
 .j {
  background-color: orange;
}

.s {
  background-color: #BF0BA7;
}
 .z {
  background-color: red;
}

.o {
  background-color: gray;
}

.t {
  background-color: #F5477B;
}

.i {
  background-color: #49FF33;
}
#tee {
  color: #F5477B;
}
#e {
  color: #FFB833;
}
#t {
  color: #F5F241;
}
#r {
  color: #7EC90D;
}
#i {
  color: #ffe6f7;

}
#s {
  color: #BF0BA7;
}
h1 {
  text-align: center;
}
#intro {
  text-align: center;
}
#tetris {
  height: 500px;
  width: 209px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 15px;
}

.list-group{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.jumbotron{
  background-color: #0194FB;
}

.list-group-item{
  font-size: 12pt;
  text-align: center;
}

.list-group-item-heading{
  font-size: 18pt;
  text-align: center;
}

.logo{
  font-family: 'Audiowide', cursive;
}
