table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.l {
  background-color: blue
}
 .j {
  background-color: orange;
}

.s {
  background-color: purple;
}
 .z {
  background-color: red;
}

.o {
  background-color: gray;
}

.t {
  background-color: green;
}

.i {
  background-color: yellow;
}
#e {
  color: red;
}
#t {
  color: blue;
}
#r {
  color: #FFEC33;
}
#i {
  color: #FFB833;
}
#s {
  color: #49FF33;
}
